@import 'tailwind';
@import 'variables';

body {
  @apply font-semibold;
  color: $text-black;
  font-family: sans-serif;
  transition: all .35s;
}

.bg-gray-app {
  background-color: $gray;
}

.bg-yellow-app {
  background-color: $yellow;
}

.bg-green-app {
  background-color: $green;
}

.text-green {
  color: $green;
}

.page-content {
  &,
  &--alter {
    @apply px-3.5 pt-16 pb-16;
  }
  &--alter {
    padding-top: 5.5rem;
  }
}